{% extends "base.html" %}
{% block content %}

    <div class="container text-center">
        <div class="card-body rounded mt-4 form-control shadow"
             style="margin: auto;
                    width: 40%;
                    border: 5px;
                    padding: 20px;">
                    {% if  validlink %}
            <form method="post" action="">
                <div class="card-body text-center">
                    <h3 class="h3 mb-3 fw-normal text-primary">Enter your new password</h3>
                    <div class="col">
                        {% csrf_token %}
                        {{ form.new_password1 }}
                        <small class="text-muted">{{ form.new_password1.errors }}</small>
                    </div>
                    <br>
                    <div class="col">
                        
                        {{ form.new_password2 }}
                        <small class="text-muted">{{ form.new_password2.errors }}</small>
                    </div>
                    <br>
                    <div class="d-grid gap-2">
                        <input class="btn btn-outline-primary" type="submit" value="Change">
                    </div>
                </form>
                {% else %}
                <h3 class="h3 mb-3 fw-normal text-primary">Link was not valid</h3>

    </div>
    {% endif %}
{% endblock content %}