<nav class="navbar navbar-expand-lg navbar-light"
     style="background-color: #8f99b3">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <a class="nav-link active"  style=" color: #512266" href="">Home</a>
            <a class="nav-link active"  style=" color: #512266" href="">Logout</a>
            <a class="nav-link active"  style=" color: #512266" href="">Login</a>
            <a class="nav-link active"  style=" color: #512266" href="">Register</a>
        </div>
        <form class="d-flex">
            <input class="form-control me-2 ml-5"
                   type="search"
                   placeholder="Search"
                   aria-label="Search">
            <button class="btn btn-outline-secondary"
                    type="submit"
                    style="background:#512266;">Search</button>
        </div>
    </nav>
