{% extends 'base.html' %}
{% block content %}
<div class="container">
<table class="table shadow-sm">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit price</th>
        <th scope="col">Total price</th>
        <th scope="col">Remove</th>

      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ item.product.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.total_price }}</td>
        <th><a href="{% url 'orders:cart_remove' item.product.id %}">remove</a></th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <div class="col text-center">
    <div class="card mb-4 rounded-3 shadow-sm bg-dark text-white">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal">Total</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title text-warning">${{ cart.get_total_price|floatformat:-2 }}</h1>
        <ul class="list-unstyled mt-3 mb-4">
        </ul>
        <a href="{% url 'orders:order_create' %}" type="button" class="w-100 btn btn-lg btn-outline-success">Checkout</a>
      </div>
    </div> 
  </div>
</div>


{% endblock content %}

